
.tag-cloud {
	line-height: normal;
	word-wrap: break-word;
}

	.tag-cloud a.tag {
		color: #aaa;
		padding: 1px 1px 1px 1px;
		margin: 1px 1px 1px 1px;
	}

time {
	font-weight: bold;
}

.atom {
	background-image: url('/images/atom.png');
	/*background-position: -10px 0px;*/
	background-repeat: no-repeat;
	padding-left: 22px;
}
