.tag-cloud {
	line-height: normal;
	word-wrap: break-word;
}

	.tag-cloud a.tag {
		color: #aaa;
		padding: 1px 1px 1px 1px;
		margin: 1px 1px 1px 1px;
	}

time {
	font-weight: bold;
	font-size: 2rem;
}

p#time {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h1.title {
	font-size: 5rem;
	margin: 1.5rem 0rem 1.5rem 0rem;
}
h1, h2, h3 {
	margin: 2.2rem 0rem 1.5rem 0rem;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
div#related {
	margin-top: 6rem;
}
div {
  font-size: 1.75rem;
}
code {
	color: #000000;
}

.atom {
	background-image: url('/images/atom.png');
	/*background-position: -10px 0px;*/
	background-repeat: no-repeat;
	padding-left: 2.5rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 1.5rem solid #ccc;
  margin: 1.5rem 1.5rem;
  padding: 0.5rem 1.5rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}
blockquote p {
  display: block;
	margin-bottom: 1rem;
}

.callout {
  background-color: #EADBA4;
  padding: 1rem;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 3rem;
}
.callout::before {
  content: "|";
  color: #A4B2EA;
  background-color: #A4B2EA;
  width: 1rem;
  height: calc(100%);
  position: absolute; /* Absolute positioning to stretch vertically */
  top: 0;
  bottom: 0;
  left: 0;
}

/* from @toastal, "this will limit paragraphs & list items to 67 characters."
 * Optimial reading length is 55-70 characters.
 */
#post :where(p, li, img, blockquote, pre) {
  max-width: 90ch;
}

img[src~="inline"] {
  width: 34ch;
  float: right;
  margin-left: .25rem;
}

#post img {
  max-width: 100%;
}

.profile a {
  width: 100%;
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  margin: 1rem;
  border-width: 1px;
  border-radius: 0.75rem;
  color: #555555;
}

.profile a svg {
  vertical-align: middle;
}

.profile a:hover {
  background-color: #dddddd;
  text-decoration: none;
}

.profile {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
