<html>
<head>
	<title>Tim Kellogg</title>
	<script type="text/javascript" src="public/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="public/json2.js"></script>
	<script type="text/javascript" src="public/underscore-min.js"></script>
	<script type="text/javascript" src="public/backbone-min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="blog.js"></script>
</head>
<body>
	<p>Welcome to Tim Kellogg's homepage. It is under construction right now.</p>
	<div id="blog"></div>
	<script type="text/html" id="postTemplate">
		<h2><%= title %></h2>
		<div>
			<%= content %>
		</div>
	</script>
</body>
</html>
