@background: #262626;
@textColor: #eaf2d9;
.centered {
	width: 960px;
	margin: 0px auto;
	text-align: left;
}

.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

body {
	background-color: @background;
	color: @textColor;
	text-align: center;
}

h1, h2, h3 {
	color: #e2e2b1;
}

a {
	color: #eaf2d9;
}

#mainLinks div {
	.centered;
	background-color: #191919;
	border: dashed 1px gray;
	padding: 4px 4px 4px 4px;
}

#mainLinks a {
	color: #eeeeee;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16pt;
}

#mainLinks a:hover {
	text-decoration: underline;
}

#mainLinks div {
	width: 960px;
}

#body {
	.centered;
}

#header {
	.centered;
}

#header .sub {
	float: right;
	text-align: right;
	width: 300px;
	color: gray;
}

.blog-post { 
	.rounded-corners(10px);
	padding: 5px 5px 5px 5px;
	border: solid 1px gray;
	margin-bottom: 20px;
}

