---
layout: default
title: All Posts
---

<h2>All Posts</h2>

<p><a href="/blog/atom.xml" class="atom">Subscribe via Atom</a></p>

<ul class="posts">
{% for post in site.posts %}
  {% unless post.is_draft %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo; 
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.author %}
        {% assign author = site.data.authors[post.author] %}
        {% if author %}
          <a class="author-badge author-badge--compact" href="{{ author.url | default: '/authors/' | append: post.author }}">
            <img class="author-avatar author-avatar--compact" src="{{ author.avatar }}" alt="{{ author.name }} avatar" loading="lazy" />
            <span>By {{ author.name }}</span>
          </a>
        {% else %}
          <span class="author-badge author-badge--plain">By {{ post.author }}</span>
        {% endif %}
      {% endif %}
    </li>
  {% endunless %}
{% endfor %}
</ul>
