---
layout: default
title: Blog
regenerate: true
---

<div class="blog-container">
  <div class="main-content">
    <h2>Latest Post</h2>
    {% for post in site.posts limit:1 %}
      <article class="post">
        <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
        <div class="post-content">
          {{ post.content | truncatewords: 150 | markdownify }}
        </div>
        <a href="{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
  </div>
  
  <aside class="blog-sidebar">
    <h3>Recent Posts</h3>
    <ul class="recent-posts">
      {% for post in site.posts limit:5 offset:1 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
    
    <div class="archive-link">
      <a href="/blog/archive">View All Posts</a>
    </div>
    
    <div class="archive-link">
      <a href="/blog/atom.xml">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455.731 455.731" width="2ch" height="2ch" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <rect x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"></rect> <g> <path style="fill:#FFFFFF;" d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348 c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348 C391.986,303.103,357.971,220.923,296.208,159.16z"></path> <path style="fill:#FFFFFF;" d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348 C282.429,270.196,184.507,172.273,64.143,172.273z"></path> <circle style="fill:#FFFFFF;" cx="109.833" cy="346.26" r="46.088"></circle> </g> </g> </g></svg>
        Subscribe
      </a>
    </div>
  </aside>
</div>
