---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NSHCSPLCWK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NSHCSPLCWK');
    </script>

    {% include utm.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/screen.css">
    
    {% if page.social_image %}
        <meta property="og:image" content="{{ page.social_image }}" />
        <meta property="twitter:image" content="{{ page.social_image }}" />
    {% elsif page.image %}
        <meta property="og:image" content="{{ page.image }}" />
        <meta property="twitter:image" content="{{ page.image }}" />
    {% endif %}
    {% if page.summary %}
        <meta property="og:description" content="{{ page.summary }}" />
        <meta property="twitter:description" content="{{ page.summary }}" />
    {% endif %}
    {% if page.layout == "post" %}
        <meta property="og:type" content="article" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}
    <!-- Event snippet for Page view conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-11009560208/asUHCLrX-MUZEJCd4oEp'});
    </script>

    {% if page.use_mermaid %}
    <script src="/public/mermaid-10.6.1-min.js"></script>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="site-nav">
            <div class="site-title">
                <a href="/">Tim Kellogg</a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-links">
                <!--<li><a href="/">Home</a></li>-->
                <li><a href="/blog">Blog</a></li>
                <!--<li><a href="/projects">Projects</a></li>-->
                <li><a href="/projects/consulting">Hire</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="site-content">
        <main>
            {{ content }}
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
            this.classList.toggle('active');
        });
    </script>
</body>
</html>
