---
layout: default
---
<article id="post">
	<h1 class="title">{{ page.title }}</h1>
	<p id="time">
		<time pubdate="true">
			{{ page.date | date: "%a %B %d, %Y" }}
		</time>
	</p>
	{% if page.image %}
		<img src="{{ page.image }}" alt="{{ page.title }}" id="post-image" />
	{% endif %}
	{{ content }}
</article>

<div id="related">
	<div class="dentropy-promo">
		<h4>Hire Me</h4>
		<p>
		    I'm eager to help companies enable their employees to
		    <a href="/blog/2025/01/02/normware.html">solve their own problems</a>
		</p>
		<a href="/projects/consulting" class="cta-button">Learn More</a>
	</div>

	<p style="width: 67ch;">
		<b>tags</b>: 
		{% for tag in page.categories %}
			<a href="/blog/#tag/{{ tag }}">{{ tag}}</a> 
		{% endfor %}
	</p>
	<p> <a href="/blog/atom.xml" class="atom">
		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455.731 455.731" width="2ch" height="2ch" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <rect x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"></rect> <g> <path style="fill:#FFFFFF;" d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348 c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348 C391.986,303.103,357.971,220.923,296.208,159.16z"></path> <path style="fill:#FFFFFF;" d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348 C282.429,270.196,184.507,172.273,64.143,172.273z"></path> <circle style="fill:#FFFFFF;" cx="109.833" cy="346.26" r="46.088"></circle> </g> </g> </g></svg>
		Subscribe
	</a> </p>
	<p>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=33100738421";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<a href="https://twitter.com/share" class="twitter-share-button" data-via="kellogh">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
	</p>

	<!--
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'timkelloggme'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	-->

	{% if page.use_mermaid %}
	<script src="/public/mermaid-10.6.1-min.js"></script>
	{% endif %}
	<script>
    document.addEventListener('DOMContentLoaded', function() {
      const content = document.querySelector('#post');
      const paragraphs = content.getElementsByTagName('p');
      const originalPromo = document.querySelector('.dentropy-promo');
      
      if (paragraphs.length >= 7 && paragraphs.length >= 14 && originalPromo) {
        const promoClone = originalPromo.cloneNode(true);
        //paragraphs[6].parentNode.insertBefore(promoClone, paragraphs[6].nextSibling);
      }
    });
	</script>
</div>
